extends layout

block content
  #header-wrapper
    #header.container
      #logo
        h1
          a(href='#')= title
        span My name is !{host} and I've been alive for !{uptime}.
        p
        img(src=killpic)

        p
        form(name="killme", action="/", method="post")
          input(class="button", type="submit", name="status", value="Kill Me Now!")
